In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.metrics import mean_squared_error

In [ ]:
# import boston dataset
from tensorflow.keras.datasets import boston_housing

(X_train, y_train), (X_test, y_test) = boston_housing.load_data( test_split = 0.2,
                                            seed = 42)

print("shape of X_train: ", X_train.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_test:", y_test.shape)

shape of X_train:  (404, 13)
Shape of y_train: (404,)
Shape of X_test: (102, 13)
Shape of y_test: (102,)

In [ ]:
X_train[0]

array([-0.40544083, -0.4772386 , -1.03573484, -0.27288841, -0.38295762,
        0.18146713,  0.53502689, -0.53549508, -0.53418401, -0.66653121,
       -0.87342724,  0.42641956, -0.51858417])

In [ ]:
y_train[0]

23.6

In [ ]:
x_train_df = pd.DataFrame(X_train)

x_train_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.09178,0.0,4.05,0.0,0.510,6.416,84.1,2.6463,5.0,296.0,16.6,395.50,9.04
1,0.05644,40.0,6.41,1.0,0.447,6.758,32.9,4.0776,4.0,254.0,17.6,396.90,3.53
2,0.10574,0.0,27.74,0.0,0.609,5.983,98.8,1.8681,4.0,711.0,20.1,390.11,18.07
3,0.09164,0.0,10.81,0.0,0.413,6.065,7.8,5.2873,4.0,305.0,19.2,390.91,5.52
4,5.09017,0.0,18.10,0.0,0.713,6.297,91.8,2.3682,24.0,666.0,20.2,385.09,17.27
5,0.10153,0.0,12.83,0.0,0.437,6.279,74.5,4.0522,5.0,398.0,18.7,373.66,11.97
6,0.31827,0.0,9.90,0.0,0.544,5.914,83.2,3.9986,4.0,304.0,18.4,390.70,18.33
7,0.29090,0.0,21.89,0.0,0.624,6.174,93.6,1.6119,4.0,437.0,21.2,388.08,24.16
8,4.03841,0.0,18.10,0.0,0.532,6.229,90.7,3.0993,24.0,666.0,20.2,395.33,12.87
9,0.22438,0.0,9.69,0.0,0.585,6.027,79.7,2.4982,6.0,391.0,19.2,396.90,14.33

In [ ]:
x_train_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.789989,11.568069,11.214059,0.069307,0.554524,6.284824,69.119307,3.792258,9.660891,408.960396,18.481931,356.293020,12.825520
std,9.132761,24.269648,6.925462,0.254290,0.116408,0.723759,28.034606,2.142651,8.736073,169.685166,2.157322,92.058615,7.308772
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.137000,1.000000,187.000000,12.600000,0.320000,1.920000
25%,0.081960,0.000000,5.190000,0.000000,0.452000,5.878750,45.475000,2.097050,4.000000,281.000000,17.400000,375.085000,7.092500
50%,0.262660,0.000000,9.690000,0.000000,0.538000,6.210000,77.500000,3.167500,5.000000,330.000000,19.100000,391.305000,11.560000
75%,3.717875,12.500000,18.100000,0.000000,0.624000,6.620500,94.425000,5.118000,24.000000,666.000000,20.200000,395.810000,17.167500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [ ]:
# normalization
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
x_train_df.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12
count,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000,404.000000
mean,3.789989,11.568069,11.214059,0.069307,0.554524,6.284824,69.119307,3.792258,9.660891,408.960396,18.481931,356.293020,12.825520
std,9.132761,24.269648,6.925462,0.254290,0.116408,0.723759,28.034606,2.142651,8.736073,169.685166,2.157322,92.058615,7.308772
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.137000,1.000000,187.000000,12.600000,0.320000,1.920000
25%,0.081960,0.000000,5.190000,0.000000,0.452000,5.878750,45.475000,2.097050,4.000000,281.000000,17.400000,375.085000,7.092500
50%,0.262660,0.000000,9.690000,0.000000,0.538000,6.210000,77.500000,3.167500,5.000000,330.000000,19.100000,391.305000,11.560000
75%,3.717875,12.500000,18.100000,0.000000,0.624000,6.620500,94.425000,5.118000,24.000000,666.000000,20.200000,395.810000,17.167500
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000

In [ ]:
#  MODEL CREATION

model = Sequential()
model.add(Dense(units=10, activation='relu', input_shape=(X_train[0].shape), name='Dense_1'))
model.add(Dense(100, activation = 'relu'))
model.add(Dense(10,name = 'Prediction'))

model.compile(loss='mean_squared_error', optimizer='RMSprop', metrics = ['mse'])

In [ ]:
# MODEL TRAINING

model.fit(X_train, y_train, epochs=100, batch_size=32, verbose=1, validation_data=(X_test,y_test))

Epoch 1/100
13/13 [==============================] - 1s 23ms/step - loss: 588.1348 - mse: 588.1348 - val_loss: 566.7816 - val_mse: 566.7816
Epoch 2/100
13/13 [==============================] - 0s 4ms/step - loss: 566.9398 - mse: 566.9398 - val_loss: 543.3806 - val_mse: 543.3806
Epoch 3/100
13/13 [==============================] - 0s 5ms/step - loss: 539.3314 - mse: 539.3314 - val_loss: 510.8433 - val_mse: 510.8433
Epoch 4/100
13/13 [==============================] - 0s 6ms/step - loss: 501.0804 - mse: 501.0804 - val_loss: 466.7438 - val_mse: 466.7438
Epoch 5/100
13/13 [==============================] - 0s 5ms/step - loss: 451.5133 - mse: 451.5133 - val_loss: 412.6974 - val_mse: 412.6974
Epoch 6/100
13/13 [==============================] - 0s 5ms/step - loss: 392.5860 - mse: 392.5860 - val_loss: 348.9891 - val_mse: 348.9891
Epoch 7/100
13/13 [==============================] - 0s 4ms/step - loss: 326.2805 - mse: 326.2805 - val_loss: 280.7537 - val_mse: 280.7537
Epoch 8/100
13/13 [==============================] - 0s 5ms/step - loss: 257.6328 - mse: 257.6328 - val_loss: 214.7421 - val_mse: 214.7421
Epoch 9/100
13/13 [==============================] - 0s 6ms/step - loss: 195.9799 - mse: 195.9799 - val_loss: 157.1253 - val_mse: 157.1253
Epoch 10/100
13/13 [==============================] - 0s 4ms/step - loss: 144.2131 - mse: 144.2131 - val_loss: 110.5815 - val_mse: 110.5815
Epoch 11/100
13/13 [==============================] - 0s 4ms/step - loss: 106.6426 - mse: 106.6426 - val_loss: 81.1950 - val_mse: 81.1950
Epoch 12/100
13/13 [==============================] - 0s 5ms/step - loss: 82.9400 - mse: 82.9400 - val_loss: 62.8111 - val_mse: 62.8111
Epoch 13/100
13/13 [==============================] - 0s 4ms/step - loss: 68.8565 - mse: 68.8565 - val_loss: 53.2536 - val_mse: 53.2536
Epoch 14/100
13/13 [==============================] - 0s 6ms/step - loss: 59.2268 - mse: 59.2268 - val_loss: 46.1391 - val_mse: 46.1391
Epoch 15/100
13/13 [==============================] - 0s 4ms/step - loss: 51.3359 - mse: 51.3359 - val_loss: 40.9671 - val_mse: 40.9671
Epoch 16/100
13/13 [==============================] - 0s 5ms/step - loss: 45.2235 - mse: 45.2235 - val_loss: 37.3394 - val_mse: 37.3394
Epoch 17/100
13/13 [==============================] - 0s 6ms/step - loss: 40.2362 - mse: 40.2362 - val_loss: 34.8551 - val_mse: 34.8551
Epoch 18/100
13/13 [==============================] - 0s 6ms/step - loss: 36.3417 - mse: 36.3417 - val_loss: 32.2187 - val_mse: 32.2187
Epoch 19/100
13/13 [==============================] - 0s 6ms/step - loss: 32.9803 - mse: 32.9803 - val_loss: 30.8130 - val_mse: 30.8130
Epoch 20/100
13/13 [==============================] - 0s 4ms/step - loss: 30.5673 - mse: 30.5673 - val_loss: 29.2471 - val_mse: 29.2471
Epoch 21/100
13/13 [==============================] - 0s 4ms/step - loss: 28.4475 - mse: 28.4475 - val_loss: 28.4339 - val_mse: 28.4339
Epoch 22/100
13/13 [==============================] - 0s 4ms/step - loss: 26.7865 - mse: 26.7865 - val_loss: 27.9164 - val_mse: 27.9164
Epoch 23/100
13/13 [==============================] - 0s 6ms/step - loss: 25.4763 - mse: 25.4763 - val_loss: 27.3855 - val_mse: 27.3855
Epoch 24/100
13/13 [==============================] - 0s 4ms/step - loss: 24.3929 - mse: 24.3929 - val_loss: 26.8018 - val_mse: 26.8018
Epoch 25/100
13/13 [==============================] - 0s 4ms/step - loss: 23.3100 - mse: 23.3100 - val_loss: 26.6873 - val_mse: 26.6873
Epoch 26/100
13/13 [==============================] - 0s 4ms/step - loss: 22.8623 - mse: 22.8623 - val_loss: 26.0585 - val_mse: 26.0585
Epoch 27/100
13/13 [==============================] - 0s 4ms/step - loss: 22.2511 - mse: 22.2511 - val_loss: 25.1762 - val_mse: 25.1762
Epoch 28/100
13/13 [==============================] - 0s 5ms/step - loss: 21.6127 - mse: 21.6127 - val_loss: 25.2230 - val_mse: 25.2230
Epoch 29/100
13/13 [==============================] - 0s 6ms/step - loss: 20.9217 - mse: 20.9217 - val_loss: 25.3793 - val_mse: 25.3793
Epoch 30/100
13/13 [==============================] - 0s 4ms/step - loss: 20.8308 - mse: 20.8308 - val_loss: 24.5696 - val_mse: 24.5696
Epoch 31/100
13/13 [==============================] - 0s 5ms/step - loss: 20.1837 - mse: 20.1837 - val_loss: 23.8648 - val_mse: 23.8648
Epoch 32/100
13/13 [==============================] - 0s 4ms/step - loss: 19.9185 - mse: 19.9185 - val_loss: 23.4584 - val_mse: 23.4584
Epoch 33/100
13/13 [==============================] - 0s 5ms/step - loss: 19.4787 - mse: 19.4787 - val_loss: 23.0774 - val_mse: 23.0774
Epoch 34/100
13/13 [==============================] - 0s 5ms/step - loss: 19.0355 - mse: 19.0355 - val_loss: 22.7152 - val_mse: 22.7152
Epoch 35/100
13/13 [==============================] - 0s 6ms/step - loss: 18.6789 - mse: 18.6789 - val_loss: 22.4018 - val_mse: 22.4018
Epoch 36/100
13/13 [==============================] - 0s 6ms/step - loss: 18.3651 - mse: 18.3651 - val_loss: 22.1134 - val_mse: 22.1134
Epoch 37/100
13/13 [==============================] - 0s 4ms/step - loss: 18.0909 - mse: 18.0909 - val_loss: 21.9486 - val_mse: 21.9486
Epoch 38/100
13/13 [==============================] - 0s 4ms/step - loss: 17.8508 - mse: 17.8508 - val_loss: 21.6685 - val_mse: 21.6685
Epoch 39/100
13/13 [==============================] - 0s 5ms/step - loss: 17.4662 - mse: 17.4662 - val_loss: 21.3371 - val_mse: 21.3371
Epoch 40/100
13/13 [==============================] - 0s 6ms/step - loss: 17.1665 - mse: 17.1665 - val_loss: 21.0164 - val_mse: 21.0164
Epoch 41/100
13/13 [==============================] - 0s 4ms/step - loss: 16.8083 - mse: 16.8083 - val_loss: 20.6794 - val_mse: 20.6794
Epoch 42/100
13/13 [==============================] - 0s 5ms/step - loss: 16.6847 - mse: 16.6847 - val_loss: 20.4446 - val_mse: 20.4446
Epoch 43/100
13/13 [==============================] - 0s 5ms/step - loss: 16.3138 - mse: 16.3138 - val_loss: 20.1634 - val_mse: 20.1634
Epoch 44/100
13/13 [==============================] - 0s 6ms/step - loss: 16.0668 - mse: 16.0668 - val_loss: 19.8633 - val_mse: 19.8633
Epoch 45/100
13/13 [==============================] - 0s 4ms/step - loss: 15.8717 - mse: 15.8717 - val_loss: 19.6208 - val_mse: 19.6208
Epoch 46/100
13/13 [==============================] - 0s 6ms/step - loss: 15.7867 - mse: 15.7867 - val_loss: 19.4516 - val_mse: 19.4516
Epoch 47/100
13/13 [==============================] - 0s 6ms/step - loss: 15.4647 - mse: 15.4647 - val_loss: 19.3030 - val_mse: 19.3030
Epoch 48/100
13/13 [==============================] - 0s 6ms/step - loss: 15.3783 - mse: 15.3783 - val_loss: 18.9572 - val_mse: 18.9572
Epoch 49/100
13/13 [==============================] - 0s 5ms/step - loss: 15.0100 - mse: 15.0100 - val_loss: 18.6407 - val_mse: 18.6407
Epoch 50/100
13/13 [==============================] - 0s 6ms/step - loss: 15.0776 - mse: 15.0776 - val_loss: 18.5109 - val_mse: 18.5109
Epoch 51/100
13/13 [==============================] - 0s 5ms/step - loss: 14.6691 - mse: 14.6691 - val_loss: 18.3050 - val_mse: 18.3050
Epoch 52/100
13/13 [==============================] - 0s 5ms/step - loss: 14.5335 - mse: 14.5335 - val_loss: 18.4798 - val_mse: 18.4798
Epoch 53/100
13/13 [==============================] - 0s 5ms/step - loss: 14.2392 - mse: 14.2392 - val_loss: 19.2878 - val_mse: 19.2878
Epoch 54/100
13/13 [==============================] - 0s 6ms/step - loss: 14.4834 - mse: 14.4834 - val_loss: 17.8331 - val_mse: 17.8331
Epoch 55/100
13/13 [==============================] - 0s 5ms/step - loss: 14.0718 - mse: 14.0718 - val_loss: 17.6285 - val_mse: 17.6285
Epoch 56/100
13/13 [==============================] - 0s 6ms/step - loss: 13.6802 - mse: 13.6802 - val_loss: 17.4704 - val_mse: 17.4704
Epoch 57/100
13/13 [==============================] - 0s 5ms/step - loss: 13.8437 - mse: 13.8437 - val_loss: 17.2932 - val_mse: 17.2932
Epoch 58/100
13/13 [==============================] - 0s 4ms/step - loss: 13.7208 - mse: 13.7208 - val_loss: 17.5443 - val_mse: 17.5443
Epoch 59/100
13/13 [==============================] - 0s 5ms/step - loss: 13.5914 - mse: 13.5914 - val_loss: 17.0764 - val_mse: 17.0764
Epoch 60/100
13/13 [==============================] - 0s 5ms/step - loss: 13.5076 - mse: 13.5076 - val_loss: 17.2966 - val_mse: 17.2966
Epoch 61/100
13/13 [==============================] - 0s 5ms/step - loss: 13.3584 - mse: 13.3584 - val_loss: 17.0360 - val_mse: 17.0360
Epoch 62/100
13/13 [==============================] - 0s 6ms/step - loss: 13.2382 - mse: 13.2382 - val_loss: 16.8496 - val_mse: 16.8496
Epoch 63/100
13/13 [==============================] - 0s 6ms/step - loss: 13.2829 - mse: 13.2829 - val_loss: 16.8853 - val_mse: 16.8853
Epoch 64/100
13/13 [==============================] - 0s 5ms/step - loss: 12.9110 - mse: 12.9110 - val_loss: 16.5892 - val_mse: 16.5892
Epoch 65/100
13/13 [==============================] - 0s 7ms/step - loss: 12.9389 - mse: 12.9389 - val_loss: 16.3538 - val_mse: 16.3538
Epoch 66/100
13/13 [==============================] - 0s 6ms/step - loss: 12.8933 - mse: 12.8933 - val_loss: 16.4860 - val_mse: 16.4860
Epoch 67/100
13/13 [==============================] - 0s 4ms/step - loss: 12.6067 - mse: 12.6067 - val_loss: 16.1535 - val_mse: 16.1535
Epoch 68/100
13/13 [==============================] - 0s 6ms/step - loss: 12.7604 - mse: 12.7604 - val_loss: 16.1248 - val_mse: 16.1248
Epoch 69/100
13/13 [==============================] - 0s 4ms/step - loss: 12.5569 - mse: 12.5569 - val_loss: 15.9905 - val_mse: 15.9905
Epoch 70/100
13/13 [==============================] - 0s 5ms/step - loss: 12.3527 - mse: 12.3527 - val_loss: 16.0396 - val_mse: 16.0396
Epoch 71/100
13/13 [==============================] - 0s 6ms/step - loss: 12.4455 - mse: 12.4455 - val_loss: 15.7798 - val_mse: 15.7798
Epoch 72/100
13/13 [==============================] - 0s 6ms/step - loss: 12.3664 - mse: 12.3664 - val_loss: 15.7621 - val_mse: 15.7621
Epoch 73/100
13/13 [==============================] - 0s 5ms/step - loss: 12.2646 - mse: 12.2646 - val_loss: 15.8289 - val_mse: 15.8289
Epoch 74/100
13/13 [==============================] - 0s 5ms/step - loss: 12.2297 - mse: 12.2297 - val_loss: 15.5873 - val_mse: 15.5873
Epoch 75/100
13/13 [==============================] - 0s 6ms/step - loss: 12.0466 - mse: 12.0466 - val_loss: 15.6667 - val_mse: 15.6667
Epoch 76/100
13/13 [==============================] - 0s 4ms/step - loss: 12.1054 - mse: 12.1054 - val_loss: 15.5175 - val_mse: 15.5175
Epoch 77/100
13/13 [==============================] - 0s 5ms/step - loss: 11.9531 - mse: 11.9531 - val_loss: 15.4400 - val_mse: 15.4400
Epoch 78/100
13/13 [==============================] - 0s 6ms/step - loss: 11.8317 - mse: 11.8317 - val_loss: 15.4154 - val_mse: 15.4154
Epoch 79/100
13/13 [==============================] - 0s 5ms/step - loss: 11.9088 - mse: 11.9088 - val_loss: 15.3554 - val_mse: 15.3554
Epoch 80/100
13/13 [==============================] - 0s 6ms/step - loss: 11.9338 - mse: 11.9338 - val_loss: 15.2190 - val_mse: 15.2190
Epoch 81/100
13/13 [==============================] - 0s 6ms/step - loss: 11.7024 - mse: 11.7024 - val_loss: 15.5706 - val_mse: 15.5706
Epoch 82/100
13/13 [==============================] - 0s 4ms/step - loss: 11.7589 - mse: 11.7589 - val_loss: 15.0818 - val_mse: 15.0818
Epoch 83/100
13/13 [==============================] - 0s 4ms/step - loss: 11.6118 - mse: 11.6118 - val_loss: 15.0198 - val_mse: 15.0198
Epoch 84/100
13/13 [==============================] - 0s 4ms/step - loss: 11.5981 - mse: 11.5981 - val_loss: 15.0814 - val_mse: 15.0814
Epoch 85/100
13/13 [==============================] - 0s 5ms/step - loss: 11.5888 - mse: 11.5888 - val_loss: 14.9475 - val_mse: 14.9475
Epoch 86/100
13/13 [==============================] - 0s 5ms/step - loss: 11.3795 - mse: 11.3795 - val_loss: 14.9642 - val_mse: 14.9642
Epoch 87/100
13/13 [==============================] - 0s 6ms/step - loss: 11.4237 - mse: 11.4237 - val_loss: 15.1203 - val_mse: 15.1203
Epoch 88/100
13/13 [==============================] - 0s 5ms/step - loss: 11.3728 - mse: 11.3728 - val_loss: 14.8245 - val_mse: 14.8245
Epoch 89/100
13/13 [==============================] - 0s 6ms/step - loss: 11.2236 - mse: 11.2236 - val_loss: 15.0768 - val_mse: 15.0768
Epoch 90/100
13/13 [==============================] - 0s 4ms/step - loss: 11.3125 - mse: 11.3125 - val_loss: 14.7563 - val_mse: 14.7563
Epoch 91/100
13/13 [==============================] - 0s 5ms/step - loss: 11.1935 - mse: 11.1935 - val_loss: 14.9444 - val_mse: 14.9444
Epoch 92/100
13/13 [==============================] - 0s 6ms/step - loss: 11.1032 - mse: 11.1032 - val_loss: 14.7067 - val_mse: 14.7067
Epoch 93/100
13/13 [==============================] - 0s 5ms/step - loss: 11.1146 - mse: 11.1146 - val_loss: 14.6306 - val_mse: 14.6306
Epoch 94/100
13/13 [==============================] - 0s 4ms/step - loss: 11.0568 - mse: 11.0568 - val_loss: 14.8406 - val_mse: 14.8406
Epoch 95/100
13/13 [==============================] - 0s 5ms/step - loss: 10.9998 - mse: 10.9998 - val_loss: 14.4556 - val_mse: 14.4556
Epoch 96/100
13/13 [==============================] - 0s 6ms/step - loss: 10.9530 - mse: 10.9530 - val_loss: 14.5216 - val_mse: 14.5216
Epoch 97/100
13/13 [==============================] - 0s 4ms/step - loss: 10.8821 - mse: 10.8821 - val_loss: 14.8927 - val_mse: 14.8927
Epoch 98/100
13/13 [==============================] - 0s 4ms/step - loss: 11.0823 - mse: 11.0823 - val_loss: 14.3953 - val_mse: 14.3953
Epoch 99/100
13/13 [==============================] - 0s 5ms/step - loss: 10.7920 - mse: 10.7920 - val_loss: 14.4394 - val_mse: 14.4394
Epoch 100/100
13/13 [==============================] - 0s 5ms/step - loss: 10.8272 - mse: 10.8272 - val_loss: 14.4197 - val_mse: 14.4197

In [ ]:
# EVALUATE THE MODEL

train_loss = model.evaluate(X_train, y_train)
print("MSE on training set: ",train_loss)

test_loss = model.evaluate(X_test, y_test)
print("MSE in test set:", test_loss)

13/13 [==============================] - 0s 2ms/step - loss: 10.5000 - mse: 10.5000
MSE on training set:  [10.500004768371582, 10.500004768371582]
4/4 [==============================] - 0s 3ms/step - loss: 14.4197 - mse: 14.4197
MSE in test set: [14.419665336608887, 14.419665336608887]

In [ ]:
y_test.shape

(102,)

In [ ]:
# Make predictions
y_pred = model.predict(X_test)

# Remove the extra dimension from y_pred
# y_pred = np.squeeze(y_pred)

# Calculate Mean Squared Error on test set
# mse = mean_squared_error(y_test, y_pred)
# print('Mean Squared Error:', mse)

4/4 [==============================] - 0s 2ms/step

In [ ]:
 mse = model.evaluate(X_test, y_test, batch_size=32)

4/4 [==============================] - 0s 3ms/step - loss: 14.4197 - mse: 14.4197

In [ ]:
for i in range(5):
    print('Predicted:', y_pred[i][0], '\tActual:', y_test[i])

Predicted: 19.741314 	Actual: 22.4
Predicted: 31.423931 	Actual: 28.6
Predicted: 18.83942 	Actual: 19.5
Predicted: 24.087526 	Actual: 24.8
Predicted: 18.411816 	Actual: 24.5